.homeCardBody{
    background-color: #232323;
    /* border: 1px solid white; */
    border-radius: 6px;
    width: 300px;
    height: 300px;
    color: white;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.homeCardIcon{
    width: 80px;
    height: 80px;
    background-image: linear-gradient(rgb(115, 152, 241), rgb(76, 103, 210));
    border-radius: 50%;
    /* border: 1px solid white; */


    display: flex;
    justify-content: center;
    align-items: center;
}

.homeCardDesc{
    text-align: center;
    font-size: 13px;
    padding: 10px 15px;
}

.homeCardHeading{
    font-size: 20px;
    font-weight: 500;
}